<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/spur.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="../js/chart-js-config.js"></script>
    <title>Spur - A Bootstrap Admin Template</title>
</head>

<body>
  <div class="dash">
      <div class="dash-nav dash-nav-dark">
          <header>
              <a href="#!" class="menu-toggle">
                  <i class="fas fa-bars"></i>
              </a>
              <a href="/" class="spur-logo"><i class="fas fa-bolt"></i> <span>TITOM</span></a>
          </header>
          <nav class="dash-nav-list">
                <a href="admin/post" class="dash-nav-item">
                    <i class="fas fa-table"></i> Post </a>
                <a href="admin/tag" class="dash-nav-item">
                <i class="fas fa-table"></i> Tag </a>
                <a href="admin/category" class="dash-nav-item">
                <i class="fas fa-table"></i> Category </a>
                <div class="dash-nav-dropdown ">
                  <span  class="dash-nav-item dash-nav-dropdown-toggle">
                      <i class="fas fa-cube"></i> User </span>
                  <div class="dash-nav-dropdown-menu">
                      <a href="admin/user/suscriber" class="dash-nav-dropdown-item">Subscriber</a>
                      <a href="admin/user/writer" class="dash-nav-dropdown-item">Writer</a>
                      <a href="admin/user/editor" class="dash-nav-dropdown-item">Editor</a>
                  </div>
                </div>
          </nav>
      </div>
      <div class="dash-app">
          <main class="dash-content">
             <main class="dash-content">
                <div class="container-fluid">
                    <h1 class="dash-title">Tables</h1>
                    <div class="row">
                        <div class="col-lg">
                            <div class="card spur-card">
                                <div class="card-header">
                                    <div class="spur-card-icon">
                                        <i class="fas fa-table"></i>
                                    </div>
                                    <div class="spur-card-title">Posts</div>
                                </div>
                                <div class="card-body ">
                                    <table class="table table-hover table-in-card">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">title</th>
                                                <th scope="col">author</th>
                                                <th scope="col">status</th>
                                                <th scope="col">view</th>
                                                <th scope="col">publish</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each posts}}
                                            <tr>
                                                <th scope="row">{{id}}</th>
                                                <td>{{title}}</td>
                                                <td>{{author}}</td>
                                                <td>{{status}}</td>
                                                <td>{{view}}</td>
                                                <td>
                                                    <button  disabled={{ status }} type="button" class="btn">pubblish</button>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
          </main>
      </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="../js/spur.js"></script>
</body>