{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script>
    $(function () {

        $('#txtDOB').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });

        $('#updateForm').validate({
            rules: {
                name: {
                    required: true,
                },
                nickname: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true
                },
                dob: {
                    required: true,
                },
            },
            messages: {
                name: {
                    required: 'Please enter a valid fullname.',
                },
                nickname: {
                    required: 'Please enter a valid nickname.',
                },
                email: {
                    required: 'Please enter a valid email address.',
                    email: 'Please enter a valid email address.'
                },
                dob: {
                    required: 'Please enter a valid date of birth.',
                },
            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    })
</script>

{{/section}}


<div class="body_main">
    <div class="wrap">
        <div class="header-main">
            <h2>Profile</h2>
            <div class="header-bottom">
                <div class="header-right w3agile">
                    <div class="header-left-bottom agileinfo">
                        <form novalidate action="/account/update" method="POST" id="updateForm"
                            enctype="multipart/form-data">
                            <div style="display: none;" class="icon1">
                                <i class="fa fa-info" aria-hidden="true"></i>
                                <input type="text" readonly id="txtId" name="id" value="{{this.cus.id}}">
                            </div>
                            <div class="icon1">
                                <i class="fa fa-info" aria-hidden="true"></i>
                                <input type="text" placeholder="Full name" id="txtName" name="name"
                                    value="{{this.cus.name}}">
                            </div>
                            <div class="icon1">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <input type="email" placeholder="Email@gmail.com" id="txtEmail" name="email"
                                    value="{{this.cus.email}}">
                            </div>
                            {{#forProfile this.cus}}
                            {{this}}
                            {{/forProfile}}
                            <div class="icon1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <input type="text" placeholder="Date of birth" id="txtDOB" name="dob"
                                    value="{{this.cus.DOB}}">
                            </div>
                            <div class="icon1">
                                <input type="file" id="avatar" value="{{this.cus.avatar}}" name="avatar">
                            </div>
                            <div class="bottom">
                                <input type="submit" value="Update" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>