<div class="container">
    <!-- Breaking new -->
    <div id="part2">
        <div class="move-text">
            <div class="breaking_news">
                <h2>Breaking News</h2>
            </div>
            <div class="newrun">
                <div class="newrun1"><a class="breaking"
                        href="/categories/{{lcLeft1.category_id}}/posts/{{lcLeft1.id}}">{{lcLeft1.title}}</a></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script type="text/javascript" src="/js/jquery.marquee.js"></script>
            <script>
                $('.newrun').marquee({ pauseOnHover: true });
            </script>
            <div class="clearfix"></div>
        </div>
    </div>

    <div id="part1">
        {{#each lcPart1}}
        <div class="arrange-news">
            <div class="display-new">
                <div class="img-overflow" style="background: url({{image_url}})"></div>
                <div class="title-pos">
                    <div class="title">
                        <ul>
                            <li><a href="#">{{topic}}</a></li>
                            <li>{{formatDate publish_date}}</li>
                        </ul>
                    </div>
                    <h3><a href="/categories/{{category_id}}/posts/{{id}}">{{title}}</a></h3>
                    <div class="author">
                        <p>Tác giả: <i>{{author}}</i></p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="clearfix">
        </div>
    </div>

    <!-- Flexisel -->
    <div id="part3">
        <div class="col-left new-grids-left">
            <div class="new-grids-left1">
                <img src="{{lcLeft1.image_url}}" alt=" " class="img-responsive" />

                <div class="new-grid-pos">
                    <a href="/categories/{{lcLeft1.category_id}}/posts/{{lcLeft1.id}}">
                        <h3>{{lcLeft1.title}}</h3>
                    </a>
                    <ul>
                        <li>{{lcLeft1.author}}<label>|</label></li>
                        <li><i>{{formatDate lcLeft1.publish_date}}</i> <label>|</label></li>
                        <li><span>{{lcLeft1.topic}}</span></li>
                    </ul>
                </div>
            </div>

            <div class="new-grids-left2">
                <div class="group-news">
                    <ul id="flexisel1">
                        {{#each lcLeft2}}
                        <li>
                            <div class="item">
                                <img src="{{thumbnail_url}}" alt=" " class="img-responsive" />

                                <div class="title-text">
                                    <h3><a href="/categories/{{category_id}}/posts/{{id}}">{{title}}</a> <span>{{topic}}
                                            <label>|</label>
                                            <i>{{author}}</i></span></h3>
                                    <p>{{formatDate publish_date}}</p>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
                <script type="text/javascript" src="js/jquery.flexisel.js"></script>
                <script type="text/javascript">
                    $(window).load(function () {
                        $("#flexisel1").flexisel({
                            visibleItems: 3,
                            itemsToScroll: 1,
                            autoPlay: {
                                enable: true,
                                interval: 3000,
                                pauseOnHover: true
                            }
                        });
                    });
                </script>
            </div>
        </div>
        <!-- End col-left -->
        <div class="col-right new-grids-right">
            <div>
                <div id="horizontalTab">
                    <div class="tab-most-view heading">Xem nhiều nhất</div>
                </div>
                <div class="tabs-container">
                    <div class="tab-content">
                        {{#each lcRight}}
                        <div class="facts">
                            <div class="tab_img">
                                <img src="{{thumbnail_url}}" alt=" " class="img-responsive" />
                            </div>
                            <div class="tab_list">
                                <span><a href="#">{{topic}}</a><br />{{formatDate publish_date}}
                                </span>
                                <p><a href="/categories/{{category_id}}/posts/{{id}}">{{title}}</a></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div id="part4">
        <div class="list-by-title">
            {{#each lcPart4}}
            <div class="arrange-news">
                <div class="grid-title">
                    <div class="grid-title-before">
                        <img src="{{image_url}}" alt=" " class="img-responsive" />
                        <div class="grid-title-pos">
                            <p>{{name}}</p>
                        </div>
                    </div>
                    <div class="grid-title-news">
                        {{#each posts as |item|}}
                        <p><a href="/categories/{{category_id}}/posts/{{id}}">{{title}}</a></p>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- news-and-events -->
    <div class="part5">
        <div class="news-grids">
            <div class="col-left news-grid-left">
                <h3>Tin tức tuần qua</h3>
                <ul>
                    {{#each lcPart5}}
                    <li>
                        <div class="news-grid-left1">
                            <img src="{{image_url}}" alt=" " class="img-responsive" />
                        </div>
                        <div class="news-grid-right1">
                            <h4><a href="/categories/{{category_id}}/posts/{{id}}">{{title}}</a></h4>
                            <h5>By <a>{{author}}</a> <label>|</label> <i>{{formatDate publish_date}}</i></h5>
                            <p>{{abstract_body}}</p>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-right news-grid-right">
                <div class="news-grid-rght1">
                    <!-- Nav tabs -->
                    <div id="horizontalTab">
                        <div class="tab-most-view heading">Thời tiết</div>
                    </div>

                    <!-- Tab panes -->
                    <div class="tabs-container">
                        <div class="tab-content london">
                            <ul>
                                <li>
                                    <h4>Wednesday</h4>
                                    <span></span>
                                    <p>21<sup>°</sup></p>
                                </li>
                                <li>
                                    <h4>Thursday</h4>
                                    <span class="moon"></span>
                                    <p>25<sup>°</sup></p>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //news-and-events -->
    </div>
</div>