<div class="container danhsach-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        {{#each direct}}
        <li class="breadcrumb-item active">{{cg_name}}</li>
        <li class="breadcrumb-item active">{{c_name}}</li>
        {{/each }}
    </ol>
    {{!-- <div class="row mb-5">
        <div class="col-6 highlight">
            {{#each lcMost1}}
            <div class="row " style="padding-left: 15px;">
                <img id="img1" class="art img-fluid" src="{{image_url}}" alt="{{tittle}}">
                <div class="card-img-overlay " style="height: 33%">
                    <h6 class="card-title">{{category_name}}</h6>
                    <p class="card-title">{{title}}</p>
                    <a href="" class="btn link-btn btn-outline btn-rounded">Xem thêm ⇾</a>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-6">
            <div class="row">
                {{#each lcMost2}}
                <div class="col-6 mb-4 highlight">
                    <img class="art img-fluid img1" src="{{image_url}}" alt="{{title}}">
                    <div class="card-img-overlay">
                        <h6 class="card-title">{{category_name}}</h5>
                        <p class="card-title">{{title}}</p>
                        <a href="" class="btn link-btn btn-outline btn-rounded">Xem thêm ⇾</a>

                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div> --}}

    <div id="hot-post" class="row hot-post">
        <div class="col-md-8 hot-post-left">
            <!-- post -->
            {{#each lcMost1}}
            <div class="post post-thumb">
                <a class="post-img" href=""><img src="{{image_url}}" alt=""></a>
                <div class="post-body">
                    <div class="post-category">
                        <a href="">{{category_name}}</a>
                    </div>
                    <p class="post-title title-lg"><a href="/categories/{{category_id}}/posts/{{id}}">{{title}}</a></p>
                    <div class="entry-meta post-meta">
                        <span class="entry-date"><i class="fa fa-calendar"
                                aria-hidden="true">&nbsp</i>{{formatDate publish_date}}</span>
                        &nbsp
                        <span class="comment-link"><i class="fa fa-eye" aria-hidden="true">&nbsp</i>{{view}} lượt
                            xem</span>
                    </div>

                </div>
            </div>
            {{/each}}
            <!-- /post -->
        </div>
        <div class="col-md-4 hot-post-right">
            <!-- post -->
            {{#each lcMost2}}
            <div class="post post-thumb">
                <a class="post-img" href=""><img src="{{image_url}}" alt=""></a>
                <div class="post-body">
                    <div class="post-category">
                        <a href="">{{category_name}}</a>
                    </div>
                    <p class="post-title title-lg"><a href="/categories/{{category_id}}/posts/{{id}}">{{title}}</a></p>
                    <div class="entry-meta post-meta">
                        <span class="entry-date"><i class="fa fa-calendar"
                                aria-hidden="true">&nbsp</i>{{formatDate publish_date}}</span>
                        &nbsp
                        <span class="comment-link"><i class="fa fa-eye" aria-hidden="true">&nbsp</i>{{view}} lượt
                            xem</span>
                    </div>
                </div>
            </div>
            {{/each}}
            <!-- /post -->
        </div>
    </div>
    <!-- /row -->
    {{#if this.error}}
    <div class="alert alert-danger" role="alert">
        Invalid Information. <a href="/" class="alert-link">Go back home</a>.
    </div>
    {{else}}
    {{#each post}}
    <div class="row mb-4 news ">
        <div class="col-4">
            <img class="art img-fluid" src="{{image_url}}" alt="{{title}}">
        </div>
        <div class="col-8">
            <div class="news-body">
                <div class="news-header">
                    <div class="post-cat">
                        <a href="">{{category_name}}</a></div>
                    <h3 class="news-heading"><a href="/categories/{{category_id}}/posts/{{id}}">{{title}}</a></h3>
                    <div class="entry-meta">
                        <span class="entry-date"><i class="fa fa-calendar"
                                aria-hidden="true">&nbsp</i>{{formatDate publish_date}}</span>
                        &nbsp
                        <span class="comment-link"><i class="fa fa-eye" aria-hidden="true">&nbsp</i>{{view}} lượt
                            xem</span>
                    </div>

                </div>
                <p>{{abstract_body}}</p>
                <div class="">
                    <a href="" class="btn link-btn btn-outline btn-rounded">Xem thêm ⇾</a>
                </div>
            </div>
        </div>
    </div>

    {{/each}}

    <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="#">&lt</a></li>
        {{#each page}}
        <li class="page-item {{#if isActive}}active{{/if}}"><a class="page-link" href="?page={{value}}">{{value}}</a>
        </li>
        {{/each}}
        <li class="page-item"><a class="page-link" href="#">&gt</a></li>
    </ul>
    {{/if}}
</div>






{{!-- <div class="col-12 category">
        <h4>Danh mục</h4>
        <ul class="category-list">
            <li>
                <a href="#">Travel
                    <span class="ts-orange-bg">10</span>
                </a>
            </li>
            <li>
                <a href="#">Sports
                    <span class="ts-green-bg">25</span>
                </a>
            </li>
            <li>
                <a href="#">Travel
                    <span class="ts-orange-bg">10</span>
                </a>
            </li>
            <li>
                <a href="#">Fashion
                    <span class="ts-pink-bg">10</span>
                </a>
            </li>
            <li>
                <a href="#">Technology
                    <span class="ts-blue-bg">10</span>
                </a>
            </li>

        </ul>
    </div> --}}