<div class="container danhsach-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Library</li>
    </ol>
    <div class="row mb-4">
        <div class="col-6">
            {{#each lcMost1}}
            <div class="row highlight" style="padding-left: 15px;">
                <img id="img1" class="art img-fluid" src="{{image_url}}" alt="{{tittle}}">
                <div class="card-img-overlay" style="height: 33%">
                    <h4 class="card-title">{{tittle}}</h4>
                    <p class="card-text">{{abstract_body}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-6">
            <div class="row">
                {{#each lcMost2}}
                <div class="col-6 mb-4 highlight">
                    <img class="art img-fluid img1" src="{{image_url}}" alt="{{title}}">
                    <div class="card-img-overlay">
                        <h4 class="card-title">{{tittle}}</h4>
                        <p class="card-text">{{abstract_body}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    {{#each post}}
    <div class="row mb-4 news">
        <div class="col-4">
            <img class="art img-fluid" src="{{image_url}}" alt="{{title}}">
        </div>
        <div class="col-8">
            <div class="news-body">
                <div class="news-header">
                    <div class="post-cat">
                        <a href="">{{category_name}}</a></div>
                    <h3 class="news-heading"><a href="">{{title}}</a></h3>
                    <div class="entry-meta">
                        <span class="entry-date"><i class="fa fa-calendar"
                                aria-hidden="true">&nbsp</i>{{formatDate publish_date}}</span>
                        &nbsp
                        <span class="comment-link"><i class="fa fa-eye" aria-hidden="true">&nbsp</i>{{view}} lượt
                            xem</span>
                    </div>

                </div>
                <p>{{abstract_body}}</p>
                <div class="">
                    <a href="" class="btn link-btn btn-outline btn-rounded">Xem thêm ⇾</a>
                </div>
            </div>
        </div>
    </div>

    {{/each}}

    {{!-- <div class="row mb-4">
			<div class="col-4">
				<img class="art img-fluid" src="{{image_url}}" alt="{{title}}">
			</div>
			<div class="col-8">
				<h4 class="title_news"><a href="#">{{title}}</a></h4>
				<p>{{publish_date}}</p>
				<p class="description">{{abstract_body}}</p>
			</div>
		</div>
		 --}}


    <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="#">
                <</a> </li> <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">></a></li>
    </ul>

    <div class="col-12 category">
        <h4>Danh mục</h4>
        <ul class="category-list">
            <li>
                <a href="#">Travel
                    <span class="ts-orange-bg">10</span>
                </a>
            </li>
            <li>
                <a href="#">Sports
                    <span class="ts-green-bg">25</span>
                </a>
            </li>
            <li>
                <a href="#">Travel
                    <span class="ts-orange-bg">10</span>
                </a>
            </li>
            <li>
                <a href="#">Fashion
                    <span class="ts-pink-bg">10</span>
                </a>
            </li>
            <li>
                <a href="#">Technology
                    <span class="ts-blue-bg">10</span>
                </a>
            </li>

        </ul>
    </div>

</div>