<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/spur.min.css">
    <link rel="stylesheet" type="text/css" href="/css/spur.min.css">
    <link rel="stylesheet" type="text/css" href="/css/spur.css">
    
    <title>titom news</title>
</head>

  <div class="dash">
      <div class="dash-nav dash-nav-dark">
          <header>
              <a href="#!" class="menu-toggle">
                  <i class="fas fa-bars"></i>
              </a>
              <a href="/" class="spur-logo"><i class="fas fa-bolt"></i> <span>TITOM</span></a>
          </header>
          <nav class="dash-nav-list">
                <a href="post" class="dash-nav-item">
                    <i class="fas fa-table"></i> Draft </a>
                <a href="tag" class="dash-nav-item">
                <i class="fas fa-table"></i> History </a>
                <a href="category" class="dash-nav-item">
                <i class="fas fa-table"></i> Category </a>
          </nav>
      </div>
        <div class="dash-app">
             
          <main class="dash-content">
             <main class="dash-content">
                <div class="container-fluid">
                    <a href="#!" class="menu-toggle">
                        <i class="fas fa-bars"></i>
                    </a>
                    <h1 class="dash-title">POSTS</h1>
                    <div class="row">
                        <div class="col-lg ">
                            <div class="card spur-card ">
                                <div class="card-header bg-primary text-white">
                                    <div class="spur-card-icon">
                                        <i class="fas fa-table"></i>
                                    </div>
                                    <div class="spur-card-title">Posts</div>
                                </div>
                                <div class="card-body ">
                                    <table class="table table-hover table-in-card">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">user</th>
                                                <th scope="col">category</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each posts}}
                                            <tr>
                                                    <th scope="row">{{id}}</th>
                                                    <td>{{title}}</td>
                                                    <td>{{author}}</td>
                                                    <td>
                                                        {{status}}
                                                    </td>
                                                    <td>{{view}}</td>
                                                    <td>
                                                        {{!-- {{#if disabled}}
                                                        <button disabled=true onclick="function(){console.log("ngu")}" type="button" class="btn btn-primary">publish</button>
                                                        {{else}}
                                                        <button type="button" class="btn btn-primary">publish</button>
                                                        {{/if}} --}}
                                                        <div class="btn-group" role="group" aria-label="Basic example">
                                                            <input name="method" value="{{#if banned }}Unban{{else}}Ban{{/if}}" type="submit" class="btn btn-warning">
                                                            <input name="method" value="Publish" type="submit" class="btn btn-primary" {{#if disabled}} disabled {{/if}}>
                                                        </div>
                                                    </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
          </main>
        </div>
    </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="../js/spur.js"></script>