<!-- single -->
<div class="single">
	<div class="container">
		<div class="single-grid">

			<div class="col-left blog-left">
				<div class="blog-left-grid">
					{{#if this.error}}
					<div class="alert alert-warning" role="alert">
						Bài viết không tồn tại. <a href="/" class="alert-link">Trang chủ</a>.
					</div>
					{{else}}
					<div class="blog-leftl">
						<h6>{{formatDate post.publish_date}}</h6>
						<a href="/news/{{post.category_id}}"><h6>{{post.topic}}</h6></a>
					</div>
					<div class="blog-leftr">
						<img src="{{post.image_url}}" alt=" " class="img-responsive" />
						<p>
							<h3>{{post.title}}</h3>
						</p>

						{{#formatFullBody post.full_body}}{{this}}{{/formatFullBody}}
						<ul>
							<li><a><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;{{post.author}}</a>
							</li>
							<li><a><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{post.view}}
									views</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					<div class="response">
						<h4>Bình luận:</h4>
						{{#each comments}}
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a class="avatar" href="#">
									<img class="media-object" src="{{avatar}}" alt="" />
								</a>
								<h5><a>{{name}}</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>{{content}}</p>
								<ul>
									<li>{{formatDate date}}</li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
						{{/each}}
					</div>
					<div class="coment-form">
						<h4>Leave your comment</h4>
						<form method="POST" action="">
							<textarea type="text" name="comment" id="txtComment" onfocus="this.value = '';"
								onblur="if (this.value == '') {this.value = 'Your Comment...';}"
								required="">Your Comment...</textarea>
							<input type="submit" value="Submit Comment">
						</form>
					</div>
					{{/if}}
				</div>
			</div>

			<div class="col-right blog-right">
				<div class="footer-top-grid1">
					<h3>Tags</h3>
					<ul class="tag2">
						{{#each post_tag}}
						<li><a href="/news/tags/{{tag_id}}">{{nametag}}</a></li>
						{{/each}}
					</ul>
				</div>
				<div class="clearfix"> </div>
				<h3>Categories</h3>
				<ul>
					{{#each lcCateSmall}}
					<li><a href="/news/{{id}}">{{name}}</a></li>
					{{/each}}
				</ul>
				<div class="clearfix"> </div>
				<div class="recent">
					<div class="new-grids-right">
						<div>
							<div id="horizontalTab">
								<div class="tab-most-view heading">Tin tức liên quan</div>
							</div>
							<div class="tabs-container">
								<div class="tab-content">
									{{#each postRelative}}
									<div class="facts">
										<div class="tab_img">
											<img src="{{thumbnail_url}}" alt=" " class="img-responsive" />
										</div>
										<div class="tab_list">
											<span><a href="/news/{{category_id}}">{{topic}}</a><br />{{formatDate publish_date}}
											</span>
											<p><a href="/categories/{{category_id}}/posts/{{id}}">{{title}}</a></p>
										</div>
										<div class="clearfix"> </div>
									</div>
									{{/each}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //single -->